#ignorer tous les fichiers (éviter les binaires)
#*

#récupérer les fichiers avec des extensions (dans tous les répertoires)
#!**.*

#ignorer le dossier 'import' propre à l'utilisateur
.import/

.git/
addons/

#ignorer dans tous les dossiers : (regénérés par Godot)
*.translation
*.png~
*.import
# - binaires
*.aseprite
# - fichiers de sauvegarde de Krita
*.kra

